<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="wrapper">
        <form action="/users/forgot-password-edit" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="password" id="newPassword" name="newPassword" placeholder="Mật khẩu mới" required>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" required>
            <button type="submit">Đặt lại mật khẩu</button>
        </form>
    </div>
</body>
</html>